body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
}

header {
  background-color: #282c34;
  color: white;
  padding: 20px;
  text-align: center;
}

main {
  padding: 20px;
}

.anime-card {
  background: white;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
}

.anime-image img {
  max-width: 100px;
}

.anime-details {
  margin-left: 20px;
}

.error {
  color: red;
}