body {
  font-family: Arial, sans-serif;
}

.anime-card {
  display: flex;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.anime-image img {
  width: 100px;
}

.anime-details {
  padding: 10px;
}

.error {
  color: red;
}

.anime-detail img {
  width: 200px; /* Adjust as needed */
}